* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  z-index: 1;
}


html, 
body,
#root {
    height: 100%;
}



.container {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  background-color: #F5F7FB;
  color: #293264;
  font-family: 'Karla', sans-serif;
}

.circle-yellow{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

.circle-blue{
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.btn-primary {
  border-radius: 15px;
  background: #4D5B9E; 
  padding: 1rem 3rem;
  border: none;
  color: white;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  margin: 1rem;
}

.btn-md {
  font-size: .75rem;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.question {
  padding: 1rem;
  font-weight: 700;
  font-size: 1.5rem;
}

hr{
  color: #DBDEF0;
  margin-top: 2rem;
  opacity: .5;
}

.answers {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
  font-size: .9rem;
  flex-wrap: wrap;

}

.answers li {
  margin-top: .5rem;
}

.answers label {
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 7.942px; 
  border: 0.794px solid #4D5B9E; 
  color: #293264;
}

.answers label:hover {
  background: #e1e4f1;
}

.answers input[type="radio"] {
  display: none;
}

.answers input[type="radio"]:disabled + label {
  cursor: not-allowed;
  background: unset;
}


.answers input[type="radio"]:checked + label {
  background-color: #D6DBF5;
  border: none;
}

.answers input[type="radio"] + label.false {
  color: rgb(172, 172, 172);
  border-color: rgb(172, 172, 172);
}

.answers input[type="radio"]:checked + label.false {
  color: gray;
  background-color: #F8BCBC;
}

.correct{
  background: #94D7A2 !important;
  border: none !important;
}

